.movie-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

@media (min-width: 500px) {
  .movie-title-container > button {
    display: none;
  }
}

.genre-bars-button {
  font-size: 2rem;
  color: rgb(142, 173, 83);
  border-radius: 10px;
}

@media (max-width: 480px) {
  .genre-bars-button {
    font-size: 25px;
  }
}
